@page "/"

<PageTitle>Home</PageTitle>

<header class="fullscreen-header bg-primary h-100 d-flex">
    <div class="row g-0 justify-content-center align-items-center background-image--crystal_tower w-100 vh-100">
        <div class="col-md-5 text-center mx-2 background-gradient--purple_reversed rounded">
            <div class="my-2 mx-5 py-5">
                <h2>Login / Register</h2>
                <TableTennisFrontEnd.Components.Pages.Auth.LoginForm />
            </div>
        </div>
    </div>
</header>
