@page "/"
@using TableTennisFrontEnd.Components.Pages.Auth
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div class="mt-5 pt-5">
    <div class="container">
        <h1>Home</h1>
    </div>
</div>

@code {

}